@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }

  .box-shadow-2 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .checkbox-wrapper .checkbox {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }

  .checkbox-wrapper .checkbox-content {
    display: grid;
    grid-template-columns: auto 1fr;
    cursor: pointer;
    position: relative;
  }
  .checkbox-wrapper .checkbox-content #checkbox-span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #000000;
    border-radius: 50%;
    /* margin-right: 10px; */
    transition: background-color 150ms 200ms,
      transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  }
  .checkbox-wrapper .checkbox-content #checkbox-span:before {
    content: '';
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #000000;
    position: absolute;
    transform: rotate(45deg);
    top: 11px;
    left: 7.5px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper .checkbox-content #checkbox-span:after {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #000000;
    position: absolute;
    transform: rotate(305deg);
    top: 15px;
    left: 8.5px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper .checkbox-content:hover #checkbox-span:before {
    width: 5px;
    transition: width 100ms ease;
  }
  .checkbox-wrapper .checkbox-content:hover #checkbox-span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
  }

  .checkbox-wrapper input[type='checkbox'] {
    display: none;
  }
  .checkbox-wrapper
    input[type='checkbox']:checked
    + .checkbox-content
    #checkbox-span {
    background-color: #000000;
    transform: scale(1.05);
  }
  .checkbox-wrapper
    input[type='checkbox']:checked
    + .checkbox-content
    #checkbox-span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper
    input[type='checkbox']:checked
    + .checkbox-content
    #checkbox-span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper
    input[type='checkbox']:checked
    + .checkbox-content:hover
    #checkbox-span {
    background-color: #000000;
    transform: scale(1.05);
  }
  .checkbox-wrapper
    input[type='checkbox']:checked
    + .checkbox-content:hover
    #checkbox-span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper
    input[type='checkbox']:checked
    + .checkbox-content:hover
    #checkbox-span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
}
